@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Quicksand:wght@500;600;700&display=swap');
.button-text {
    text-align: center;
    padding-top: 5px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
}